// Fonts:
$headerFont1: 'Pattaya', sans-serif;
$headerFont2: 'Henny Penny', cursive;
$textFont1: 'Roboto', sans-serif;

// Colors:
$mgPurple: #9453a6;
$mgGreen: #8cbf3f;
$mgYellow: #f2cc0f;
$mgGrey: #f2f2f2;
$mgBlack: #0d0d0d;

// Other color:
$bodyColor: #f1f3f8;
$oddShowcase: #d6e0f0;
$evenShowcase: #8d93ab;
$triviaBGC: darken(#f6f6f6, 10%);
$correctAnswer: green;
$wrongAnswer: red;

// Sizes:
$h1Size: 3rem;
$h2Size: 2rem;
$h3Size: 1.4rem;
$pSize: 1rem;
